{% extends "pycon_blog.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div id="location" class="location anchor">
    <h3>{{ this.nav_loc }}</h3>
    {{ this.nav_map }}
        <p>
          {{this.more_info }}
        </p>
      <div id="faq" class="faq anchor">
        <h3>{{ this.faq_title }}</h3>
        {{ this.faq }}
      </div>
  {% for child in this.pagination.items %}
    {{ render_blog_post(child, from_index=true) }}
  {% endfor %}
  </div>
{% endblock %}