<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="static/images/favicon-16x16dd20.png?h=d23bc393">
  <title>{% block title %}{% endblock %} Pycon Israel 2020 | 4-5 May</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <style>
	  .coc {
		  width: 80%;
		  margin: 0 auto;
	  }
	  .faq {
		  width: 80%;
		  margin: 0 auto;
	  }
    .grid-container {
      padding-top: 65px;
      margin: 0;
      grid-column-gap: 20px;
      grid-row-gap: 50px;
      background-color: #fff;
      color: #333;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        'header'
        'pycon-title'
        'timeline'
        'tickets'
        'cfp'
        'workshops'
        'pycon'
        'hamakor'
        'forwhom'
        'location'
        'faq'
        'sponsors'
        'social'
        'contacts'
        'twitter'
        'facebook'
        'footer';
        
    }
    nav {
      background: #24338b;
    }
    a {
      color: #3e94dd;
      text-decoration: none;
    }
    .map {
      height: 300px;
      width: 300px;
      border-width: 0;
    }
    .header {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      background: url(/static/images/pycon-il-header-2019-smee29.png?h=fa7a96ea);
      background-position: right;
      height: 200px;
      background-repeat: no-repeat;
      background-color: #00010a;
      z-index: 2;
    }
    .pycon-title {
		display: flex;
		flex-direction: column-reverse;
		grid-area: pycon-title;
	}
    @media screen and (min-width: 768px) {
      {% if url_to(this) == site.get('/').url_to(this) %}
      .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-template-areas:
          'header header header'
          'pycon-title pycon-title pycon-title'
          'timeline timeline timeline'
          
          'pycon workshops tickets'
          'forwhom cfp hamakor'
          'location location location'
          'faq faq faq'
          'social social social'
          'contacts twitter facebook'
          
          'footer footer footer';
      }
      {% endif %}
      .map {
        height: 450px;
        width: 600px;
      }
      .footer {
        background: url(/static/images/footer.bg899c.jpg?h=73d53a8e);
        height: 187px;
      }
      .header {
        background: url(/static/images/pycon-il-header-2019-mdab01.png?h=7331a514);
        height: 300px;
        background-position: right;
        background-repeat: no-repeat;
        background-color: #00010a;
      }
    }
    @media screen and (min-width: 960px) {
      .header {
        background: url(/static/images/pycon-il-header-2019c9dd.png?h=706296c6);
        height: 300px;
        background-repeat: no-repeat;
        background-position: right;
        background-color: #00010a;
      }
    }
    .header {
      grid-area: header;
    }
    .timeline {
      grid-area: timeline;
      background-color: #cbe1f9;
    }
    
    .anchor {
      padding-top: 70px;
      margin-top: -70px;
    }
    {% if url_to(this) == site.get('/').url_to(this) %}
    .tickets {
      grid-area: tickets;
    }
    .cfp {
      grid-area: cfp;
    }
    .workshops {
      grid-area: workshops;
    }
    .pycon {
      grid-area: pycon;
    }
    .hamakor {
      grid-area: hamakor;
    }
    .forwhom {
      grid-area: forwhom;
    }
    .location {
      grid-area: location;
    }
    .faq {
      grid-area: faq;
    }
    .sponsors {
      grid-area: sponsors;
    }
    .social {
      grid-area: social;
    }
    .contacts {
      grid-area: contacts;
    }
    .twitter {
      grid-area: twitter;
    }
    .facebook {
      grid-area: facebook;
    }
    {% endif %}
    .footer {
      grid-area: footer;
    }
    .separator {
      text-align: center;
      margin-bottom: 2em;
      border-bottom: 2px solid #012A29;
      border-top: 2px solid #012A29;
      width: 60%;
      margin: 0.5em auto;
      padding: 0.3em 0;
    }
    .timeline-event li {
      text-align: center;
      list-style-type: none;
    }
    @media only screen and (max-width: 992px) {
    .sponsors img {
        max-width: auto;
        width: 30%;
      }
    }
    @media only screen and (min-width: 992px) {
    .sponsors img {
        max-width: auto;
        width: 10%;
      }
    }
    .sponsors-list {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    
    #bof {
      width: 100%;
      border: 0;
      margin: 0;
      padding: 0;
    }
    .timeline-event li {
      list-style-type: none;
    }
    .footer {
      grid-area: footer;
    }
time.icon
{
  font-size: 0.8em; /* change icon size */
  display:inline-block;
  width: 8em;
  text-align:center;
  height: 8em;
  background-color: #fff;
  margin: 2em 1.0em;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  font-size: 1.2em;
  top: 0;
  padding: 0.4em 0;
  color: #000000;
  background-color: #33bbe4;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #ffb84d;
}

time.icon em
{
  position: absolute;
  bottom: 0.5em;
  color: #8f1d1d;
}

time.icon span
{
  position: absolute;
  width: 100%;
  font-size: 1.8em;
  letter-spacing: -0.05em;
  padding-top: 1.7em;
  color: #2f2f2f;
}
time.icon:hover, time.icon:focus
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
  </style>
<title>Pycon Israel 2020 | 4-6 May</title>
</head>
  
  
<body>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark">
    <img src="/static/images/PyConIL-2020.png?h=9ad232e9" width="50" height="50" />
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav">
        {% for href, page in [
          ['/', 'Home'],
          ['/index.html#location', 'Location'],
          ['/index.html#faq', 'Accessibility FAQ'],
          ['/index.html#sponsors', 'Sponsors'],
          ['/schedule', 'Agenda'],
          ['/blog', 'Blog'],
          ['/coc', 'Code of Conduct'],
          ['/index.html#social', 'Social Media']
        ] %}
        <li class="nav-item"><a class="nav-link" href="{{ href|url }}">{{ page }}</a></li>
        {% endfor %}
        <li class="nav-item"><a class="nav-link" href="https://ti.to/pycon-israel/pycon-israel-2020">Tickets</a></li>
      </ul>
    </div>
  </nav>
  <div class="grid-container">
    <div class="header"></div>
    {% block body %}{% endblock %}
  </div>

  <footer class="footer">
  </footer>
</body>
</html>
