{% extends "layout.html" %}
{% block body %}
<h2 class="pycon-title">PyCon Israel 2020</h2>
  <div id="home" class="tickets">
    <h3>{{ this.tickets_title }}</h3>
    <p>{{ this.tickets }}</p>
  </div>
  <div class="cfp">
    <h3>{{ this.talks_title }}</h3>
    <p>{{ this.talks }}</p>
  </div>
  <div class="workshops">
    <h3>{{ this.workshops_title }}</h3>
    <p>{{ this.workshops }}</p>
  </div>
  <div class="pycon">
    <h3>What is Pycon?</h3>
    <p>{{ this.pycon }}</p>

  </div>
  <div class="hamakor">
    <h3>Open Source</h3>
    <p>{{ this.open_source }}</p>
  </div>
  <div class="forwhom">
    <h3>Who is it for?</h3>
    <p>{{ this.who_is_it_for }}</p>
  </div>
  <div id="location" class="location anchor">
    <h3>{{ this.location_title }}</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.916134795846!2d34.84451231411143!3d32.07151698119079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4a1343bd3c2f%3A0xbae89ad91832f38a!2sWohl%20Center!5e0!3m2!1sen!2sil!4v1582056425519!5m2!1sen!2sil" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

    <p>For more information see <a href="https://wohl-center.com/">here</a>.
</p>
  <div id="sponsors" class="sponsors anchor">
    <h3 class="separator">Sponsors</h3>
    <div class="sponsors-list">
    <div class="sponsors anchor">
		{{ this.sponsors }}
	</div>
    </div>
  </div>
  <div id="faq" class="faq anchor">
      <h3 class="separator">Accessibility FAQ</h3>
      {{ this.accessability }}
  </div>
  </div>
  <div id="social" class="social anchor">
      <h3 class="separator">Social Media</h3>
  </div>
      <div class="contacts">
		  {{ this.social }}
    </div>
      <div class="twitter">
      <h3>Twitter</h3>
      <a class="twitter-timeline" data-height="600"
         href="https://twitter.com/pyconil">Tweets</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
      <div class="facebook">
      <h3>Facebook</h3>
      <p>
        <div class="fb-page fb_iframe_widget" data-adapt-container-width="true" data-height="600" data-hide-cover="false" data-href="https://www.facebook.com/pyconisrael" data-show-facepile="true" data-small-header="false" data-tabs="timeline"
          fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=470&amp;height=600&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpyconisrael&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=500"
          fb-xfbml-state="rendered"><span style="vertical-align: bottom; width: 470px; height: 600px;"><iframe allowfullscreen="true" allowtransparency="true" frameborder="0" height="600px" name="f2c46dda53cfca2" scrolling="no" src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F1FegrZjPbq3.js%3Fversion%3D42%23cb%3Df20d5fb177e4858%26domain%3Dil.pycon.org%26origin%3Dhttp%253A%252F%252Fil.pycon.org%252Ff345263e98fee3c%26relation%3Dparent.parent&amp;container_width=470&amp;height=600&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpyconisrael&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=500"
              style="border: medium none; visibility: visible; height: 600px;" title="fb:page Facebook Social Plugin" id="f2c46dda53cfca2"></iframe></span></div>
      </p>
    </div>

  </div>
{% endblock %}

